<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="ContractManager" version="0.1"
  class="de.janrieke.contractmanager.ContractManagerPlugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">

  <description>ContractManager for Jameica</description>
  <url>http://www.janrieke.de/projects/contractmanager</url>
  <homepage>http://www.janrieke.de/projects/contractmanager</homepage>
  <license>GPL 3.0 - http://www.gnu.org/licenses/gpl-3.0.txt</license>

  <requires jameica="1.10+">
    <!--  <import plugin="hibiscus" version="1.12+" required="false" /> //-->
  </requires>

  <classfinder>
    <include>contractmanager\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item name="ContractManager">
      <item name="New Contract..." shortcut="ALT+C" icon="document-new.png" action="de.janrieke.contractmanager.gui.action.ShowContractDetailView" />
      <item name="-" />
      <item id="de.janrieke.contractmanager.menu.license"      name="Lizenzinformationen"      icon="text-x-generic.png"      action="de.janrieke.contractmanager.gui.action.ShowLicenseInfoView" />
      <item id="de.janrieke.contractmanager.menu.about"        name="About..."                    icon="gtk-info.png"            action="de.janrieke.contractmanager.gui.action.ShowAboutDialog" />
    </item>
  </menu>

  <navigation>
    <item name="ContractManager" icon-close="folder.gif" icon-open="folderopen.gif" action="de.janrieke.contractmanager.gui.action.ShowWelcomeView">
      <item name="Contracts" icon-close="edit-copy.png" icon-open="edit-copy.png" action="de.janrieke.contractmanager.gui.action.ShowContractListView" />
      <item name="Addresses" icon-close="address-book-new.png" icon-open="address-book-new.png" action="de.janrieke.contractmanager.gui.action.ShowAddressListView" />
      <item name="Settings" icon-close="document-properties.png" icon-open="document-properties.png" action="de.janrieke.contractmanager.gui.action.ShowSettingsView" />
    </item>
  </navigation>

  <services>
    <service name="contract_db" depends="" autostart="true"
      class="de.janrieke.contractmanager.rmi.ContractDBService" />
  </services>
</plugin>