<?xml version="1.0" encoding="ISO-8859-1" ?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.3.xsd"
        name="contractmanager" version="0.5" class="de.janrieke.contractmanager.ContractManagerPlugin">

  <description>ContractManager for Jameica (v0.5)</description>
  <url>http://janrieke.de/products/jameica/updates/contractmanager/release/0.5/contractmanager.zip</url>
  <homepage>http://janrieke.de/products/contractmanager</homepage>
  <license>GPL 3.0 - http://www.gnu.org/licenses/gpl-3.0.txt</license>

  <requires jameica="2.6+">
    <import plugin="hibiscus" version="2.6+" required="false" />
  </requires>

  <classfinder>
    <include>contractmanager\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item name="ContractManager">
      <item name="New Contract..." shortcut="ALT+C" icon="document-new.png" action="de.janrieke.contractmanager.gui.action.ShowContractDetailView" />
      <item name="-" />
      <item id="de.janrieke.contractmanager.menu.license"      name="Licence Information"      icon="text-x-generic.png"      action="de.janrieke.contractmanager.gui.action.ShowLicenseInfoView" />
      <item id="de.janrieke.contractmanager.menu.about"        name="About..."                    icon="gtk-info.png"            action="de.janrieke.contractmanager.gui.action.ShowAboutDialog" />
    </item>
  </menu>

  <navigation>
    <item name="ContractManager" icon-close="folder.gif" icon-open="folderopen.gif" action="de.janrieke.contractmanager.gui.action.ShowWelcomeView">
      <item name="Contracts" icon-close="edit-copy.png" icon-open="edit-copy.png" action="de.janrieke.contractmanager.gui.action.ShowContractListView" />
      <item name="Addresses" icon-close="address-book-new.png" icon-open="address-book-new.png" action="de.janrieke.contractmanager.gui.action.ShowAddressListView" />
      <item name="Settings" icon-close="document-properties.png" icon-open="document-properties.png" action="de.janrieke.contractmanager.gui.action.ShowSettingsView" />
	  <item name="Analyses" icon-close="folder.gif" icon-open="folderopen.gif">
        <item name="Income/Expenses" icon-close="chart.png" icon-open="chart.png" action="de.janrieke.contractmanager.gui.action.ShowIncomeExpensesAnalysisView" />
        <item name="Expenses" icon-close="chart.png" icon-open="chart.png" action="de.janrieke.contractmanager.gui.action.ShowExpensesAnalysisView" />
      </item>
    </item>
  </navigation>

  <services>
    <service name="contract_db" depends="" autostart="true"
      class="de.janrieke.contractmanager.rmi.ContractDBService" />
  </services>

  <extensions>
    <!-- Hibiscus-Extensions -->
    <extension class="de.janrieke.contractmanager.ext.hibiscus.UmsatzListPartHibiscusExtension"      extends="de.willuhn.jameica.hbci.gui.parts.UmsatzList"            requires="hibiscus" />
    <extension class="de.janrieke.contractmanager.ext.hibiscus.UmsatzListMenuHibiscusExtension"      extends="de.willuhn.jameica.hbci.gui.menus.UmsatzList"            requires="hibiscus"/>
    <extension class="de.janrieke.contractmanager.ext.hibiscus.ContractDetailViewHibiscusCategories" extends="de.janrieke.contractmanager.gui.view.ContractDetailView" requires="hibiscus"/>
    <extension class="de.janrieke.contractmanager.ext.jameica.SettingsView" extends="de.willuhn.jameica.gui.internal.views.Settings"/>
  </extensions>

</plugin>